DJANGO_SECRET_KEY=zmien-mnie-na-cos-losowego
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Baza danych — zostaw puste żeby użyć SQLite (dev)
# DATABASE_URL=postgres://user:pass@localhost:5432/cmentarz
